<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Cadastro
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page8">
  <form id="cadastro-form2">
    <ion-list id="cadastro-list2">
      <ion-item id="cadastro-input3">
        <ion-label></ion-label>
        <ion-input type="text" placeholder="Nome"></ion-input>
      </ion-item>
      <ion-item id="cadastro-input4">
        <ion-label></ion-label>
        <ion-input type="email" placeholder="Email"></ion-input>
      </ion-item>
      <ion-item id="cadastro-input5">
        <ion-label></ion-label>
        <ion-input type="password" placeholder="Senha"></ion-input>
      </ion-item>
    </ion-list>
    <button id="cadastro-button3" ion-button color="assertive" block style="color:#FBFDFA;" on-click="goToLogin()">
      Cadastrar
    </button>
  </form>
</ion-content>