<ion-header>
  <ion-navbar>
  <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>    
    <ion-title>
      Login
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form (ngSubmit)="loginForm()"> 
    <ion-list id="login-list1">
      <ion-item>

        <ion-label>Usuário</ion-label>

        <ion-input type="email" [(ngModel)]="login.usuario" name="usuario"></ion-input>
      </ion-item>
      <ion-item>  



        <ion-label>Senha</ion-label>


        <ion-input type="password" [(ngModel)]="login.senha" name="senha"></ion-input>
      </ion-item>


    
    <button ion-button type="submit" block>Login</button>     
    </ion-list> 
  </form>
</ion-content>