<ion-tabs id="tabsController-tabs1">
  <ion-tab [root]="tab1Root" tabTitle="Início" tabIcon="home" id="tabsController-tab1"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Login" tabIcon="log-in" id="tabsController-tab2"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Cadastro" tabIcon="add-circle" id="tabsController-tab3"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Pontos Turísticos" tabIcon="map" id="tabsController-tab4"></ion-tab>
</ion-tabs>