<ion-menu [content]="mainContent">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Menu
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content id="side-menu21">
    <ion-list id="menu-list3">
      <ion-item color="assertive" menuClose="" on-click="goToInicio()" id="menu-list-item1">
        <ion-icon name="home" item-left></ion-icon>
        Inicio
      </ion-item>
      
      <ion-item color="assertive" menuClose="" on-click="goToCadastro()" id="menu-list-item2">
        <ion-icon name="add-circle" item-left></ion-icon>
        Cadastro
      </ion-item>
      <ion-item color="assertive" menuClose="" on-click="goToPontosTuristicos()" id="menu-list-item10">
        <ion-icon name="map" item-left></ion-icon>
        Pontos Turísticos
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #mainContent [root]="rootPage"></ion-nav>