<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Inicio
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page6" style="background-color:#0B1CD6;">
  <h1 id="inicio-heading1" style="color:#FCF8F8;text-align:center;">
    Inicio
  </h1>
  <h1 id="inicio-heading2" style="color:#000000;font-weight:400;font-style:italic;">
    Bem Vindo(a)!
  </h1>
  <img src="assets/img/jUdF3osSqCKqxE4Pfhoy_11677_ori_tres_coracoes.jpg" style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />
  <div class="spacer" style="height:10px;" id="inicio-spacer2"></div>
  <div id="inicio-markdown2" style="text-align:center;" class="show-list-numbers-and-dots">
    <p style="color:#FCF5F5;">
      Bem vindo ao aplicativo com os principais pontos turísticos da cidade de Três Corações - MG.
    </p>
  </div>
</ion-content>