<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Pontos Turisticos
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page9">
  <ion-list id="pontosTuristicos-list4">

   <!--  <button ion-item *ngFor="let item of items" (click)="itemSelected(item)">
    {{ item }}
  </button>  
 -->
  <!-- <button ion-item *ngFor="let item of feeds" (click)="itemSelected(item)">
      {{ item.Pessoas }}
    </button>  -->
    
<button ion-item color="none" *ngFor="let item of items" (click)="itemSelected(item)">
      <ion-thumbnail item-left>
        <img src="{{ item.imagem }}" />
      </ion-thumbnail>
      <h2>
        {{ item.titulo }}
      </h2>
    </button> 

       


  </ion-list>
</ion-content>